extends layout

block content
	div#home-header
		div.main-header
			div.header 
				img(src='/images/popsql_logo.png')
				h1 #{title}
			div.left
				img(src='/images/cover001.png')
			div.right
				h1 Melting Chat, Search and Commands For The Masses.
				p #{title} is a concept framework that allows social chat, search and terminal all through a single command line interface. It's only a concept right now, but take a look and support us if you think it's a cool idea.
		div.main-body
			div.header
				h1 What is #{title}?
			
			div.col
				div.sprite
					img(src='/images/col1.png')
				p #{title} is a middleware framework for chat, allowing the melting of chat, search and commands through a simple command line interface.
			div.col 
				div.sprite
					img(src='/images/col2.png')
				p Users can search for information by asking questions to the middleware host. The host will reply answers or search results into the normal chat thread.
			div.col 
				div.sprite
					img(src='/images/col3.png')
				p Users can append queries into their normal chat. The query returns a natural answer string and appends it into the user's post as intended.
			div.col 
				div.sprite
					img(src='/images/col4.png')
				p Users can also execute terminal style commands, to interact with their data streams and services.

			div.header
				h1 What #{title} is not!

			div.col 
				p #{title} is not a traditional search engine. It's purpose is to fetch results that fit into the natural flow of a chat interface. This is an important note, because the power of #{title} is the ability to interface with data casually.  
			div.col 
				p #{title} is not a new query language. It's a javascript framework that translates and fascilitates between natural text based conversations and queries. By using a finite environment like chat and including additional finite parameters (ie. 140 character limit), we can pattern match tokens, vocabulary and argument structure with a higher level of accuracy. 
			div.col 
				p .
			div.col 
				p .
			